html {
  scroll-behavior: smooth;
}

body,html {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
  color: rgb(240, 240, 240) !important;
}

.name-intro1,.name-intro2{
  text-shadow: #4a0e1b 4px 2px 10px ;
}

.intro {
  /* background-size: cover !important; */
  height: 110vh !important;
}

.bg-rahul{
  background-image:linear-gradient(rgba(41, 0, 0, 0.15),#101013), linear-gradient(to left,#030303,rgba(0, 0, 0, 0.435)) , url('../img/rahul.jpg') !important;
  background-size: auto 100% !important;
  background-repeat: no-repeat;
  
}
.services-header{
  text-decoration: none;
  position: relative;
}

.services-header::after{
  content: "";
  position: absolute;
  height: 1px !important;
  bottom: -10px;
  margin: 0 auto;
  width: 60% !important;
  left:0;
  background: #ddd;
  box-shadow: #fff 1px 1px 2px 1px;
		  

}

.underline{
  position: relative;
}

.underline::after{
  content: "";
  position: absolute !important;
  height: 1px !important;
  bottom: -10px;
  margin: 0 auto;
  width: 60% !important;
  left:0;
  background: #ddd;
  box-shadow: #fff 1px 1px 2px 1px;
		  

}

.intro-service {
  background-size: cover !important;
  height: 60vh !important;
  background: linear-gradient(#6e0a1e89,#1a1a1d);
}

a{
  text-decoration: none !important;
}

.bg-dark {
  background-color: #101013 !important;
}
.bg-dark2 {
  background-color: #040405ef !important;
}

.bg-secondary {
  background-color: #4e4e50 !important;
}

/* --------------nav--------------------- */
.navbar {
  background: rgba(0, 0, 0, 0) !important;
  position: fixed;
  z-index: 9999 !important;
  width: 100% !important;
  top: 0;
  overflow-x: hidden !important;
}
.mobile-nav-wrap{
  display: none;
}


.sidebar-overlay{
  display: none;
  position:fixed;
  background-color: rgba(0, 0, 0, 0.918);
  height: 100vh;
  width: 100vh;
  z-index: 99;
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #1e1d1de5; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  text-decoration: none;
  font-size: 18px;
  color: #ddd;
  display: block;
  transition: 0.3s;
}

.sidebar a.active {
  background-color: #c3072f !important;
  font-weight: bold;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(17, 17, 17, 0);
  color: rgb(238, 219, 219);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 10px 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  

}

/* -----------about---------- */

.about-main {
  font-size: 170px;
  letter-spacing: 10px;
  color: #3d3a3a55;

  font-weight: 900;
}
.about-sub {
  position: absolute;
  top: 110px;
  left: 30px;
  font-size: 40px;
  z-index: 999 !important;
  color: rgba(255, 255, 255, 0.898);
  text-shadow: #47001078 2px 3px;
}
.resume:hover {
  text-decoration: none;
  color: #4e4e50 !important;
}
.experience-title{
  font-size: 70px;
  text-shadow: #6e0a1e 2px 2px ;
  padding-right: 18px;
}
@media only screen and (max-width:992px){
  .navbar{
    display: none;
   }
   .mobile-nav-wrap{
     display: block;
   }
 
}

@media only screen and (max-width: 486px) {
  .about-main {
    font-size: 80px;
    letter-spacing: 8px;
    color: #5f5f5f86;
    font-weight: 900;
  }
  #typed1{
    min-height: 550px !important;
  }
  .about-sub {
    position: static;
    top: 50px;
    z-index: 999 !important;
    color: rgba(255, 255, 255, 0.898);
    
  }

  .bg-rahul{
   background: linear-gradient(rgba(0, 0, 0, 0.731),#101013),url('../img/rahulmob.jpg') !important;
    background-size:cover !important;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
  }
  .intro-service {

    height: 80vh !important;
  }
 .intro{
   max-height: 100vh;
 }
  i {
    border-radius: 50% !important;

    margin: 0 10px;
  }
  .experience-title{
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
  }
  .display-3 {
    font-size: 60px !important;
  }
  
.testimonial-main {
font-size: 40px !important;
    color: #ffffffba !important;
  font-weight: 800;
  margin: 30px 20px !important;
}

}

/* --------services----------- */
.services-left {
  position: sticky;
  position: -webkit-sticky;
  top: 90px;
  left: 0;
  /* background-color: #c3073f; */
}



/* ------------CONTACT--------- */

.contact-main{
  font-size: 60px ;
  font-weight: 999;
  color: #707071;
  text-shadow: #6e0a1e 1px 1px 1px;
  
}
.contact-sub{
  /* left: 20%;
  position: absolute;
  top:50%; */
  color: #ddd !important;
  font-size:40px;
  font-weight: 700;
  /* text-shadow: #6e0a1e 10px 10px !important; */
}
/* Misc */
.text-primary {
  color: #c3072f !important;
  text-decoration: none;
}

.text-primary-2 {
  color: #6e0a1e !important;
  text-decoration: none;
}
.text-light1 {
  color: rgb(213, 213, 213) !important;
}

.text-secondary {
  color: #4e4e50;
}

::-webkit-scrollbar {
  background-color: #1a1a1a;
  color: #1a1a1d;
  border: 3px #111111;
}

::-webkit-scrollbar-thumb {
  background-color: #6e0a1e;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #c3072f;
}

i {
  border-radius: 50% !important;
  margin: 0 0px;
}
i:hover {
  color: #c3072f !important;
}

.btn-outline-danger {
  border: solid 2px #6e0a1e !important;
}

.btn-outline-danger:hover {
  background-color: #6e0a1e !important;
  border: solid 2px #c3072f;
}

.form-control:active{
  box-shadow: #6e0a1e 3px 3px 10px 4px;
}

.form-control{
  box-shadow: #6e0a1e 1px 1px 2px 1px;
  border-radius: 0;
}




/* testimonials */


.testimonial-main {
  position: relative;
  font-size: 75px;
  letter-spacing: 3px;
  color: #6259593d;
  font-weight: 800;
}


.testimonials-img{
  width: 100px !important;
  height: auto !important;
  border-radius: 50%;
  box-shadow: #6e0a1e 2px 2px 10px 4px;
  
}

.testimonials-text{
  font-size: small;
  text-align: justify;
  font-weight: 600;
  line-height: 25px;
  
}


/* ------------------prev works------------------- */

.prevwork-box{
  background-color: #eee;
  border-radius: .35rem;
  min-height: 250px !important;
  /* display: flex; */
  padding: 20px;
  /* align-items: center; */
  /* justify-content: center; */
  transform: scale(0.8) !important;
  transition: transform 0.5s ;
}
.prevwork-box:hover{
  transform: scale(0.9) !important;
  box-shadow: #c3072f 2px 2px 20px 4px;
}

.spinner-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  background-color: #000 !important;
}

.testimonial-box{
  min-height: 300px;
  
}
